.form-container {
  background-color: #dad8d1;
  .inner-form-wrapper {
    padding: 2rem;
  }
  h3 {
    color: #0f2835;
    font-weight: 600;
    margin-bottom: 1.7rem;
    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  input {
    margin-bottom: 1.2rem;
    width: 100%;
    padding: 0.5rem;
  }

  small {
    display: block;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
  }

  .cta-img {
    background-image: url("https://www.safewise.com/app/uploads/featured-brinks-home-security-review.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .desktop-form {
    .cta-img {
      min-height: 100%;
      width: 100%;
    }
  }

  .mobile-form {
    .cta-img {
      width: 100%;
      height: 300px;
      margin-bottom: 3rem;
    }
    small {
      border-left: 2px solid #fff;
      padding-left: 1.5rem;
    }
  }
}
