.image-slider-container {
  background-color: #0f2835;
  color: #fff;
  padding: 3rem 0 4rem 0;

  .content {
    border-left: 2px solid #1e5b71;
    padding-left: 2rem;
    margin-bottom: 2rem;

    h3 {
      @media screen and (min-width: 768px) {
        font-size: 3rem;
      }
    }

    p {
      padding-bottom: 1rem;
      margin-bottom: 0;
      margin-top: 1rem;
      font-size: 0.85rem;

      @media screen and (min-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }
}
