.image-slider-container {
  background-color: #0f2835;
  color: #fff;
  padding: 3rem 0;

  .content {
    border-left: 2px solid #1e5b71;
    padding-left: 2rem;
    margin-bottom: 2rem;

    p {
      padding-bottom: 1rem;
      margin-bottom: 0;
    }
  }
}
