.cta-button-container {
  margin: 2rem 0;

  .cta-button-inner {
    border-left: 2px solid #34697c;
    padding-left: 1.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.4;

      span {
        display: inline-block;
      }
    }

    img {
      width: 100%;
    }

    button {
      width: 160px;
      margin-top: 1rem;
    }

    @media screen and (max-width: 365px) {
      button {
        width: 100%;
      }
    }

    @media screen and (min-width: 768px) {
      border-left: 2px solid #fff;
      padding-left: 2rem;

      .title {
        font-size: 2rem;

        span {
          display: block;
        }
      }
    }
  }
}
