.cta-form-container {
  .cta-img {
    background-image: url("https://www.safewise.com/app/uploads/featured-brinks-home-security-review.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
