button.btn-primary {
  background-color: #285566;
  border-color: #285566;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.4rem 1.2rem;

  &:hover {
    background-color: #285566;
    border-color: #285566;
    color: #fff;
  }
}
