.testimonial-slider-container {
  color: #fff;

  .desktop-blocks {
    .text-container {
      padding: 0 2rem;
      margin-bottom: 2rem;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icons {
          svg {
            background-color: #00b67a;

            width: 30px;
            height: 30px;
          }
        }

        .time {
          font-size: 1.2rem;
        }
      }

      .text {
        margin-top: 1rem;
        font-size: 1.5rem;
        p {
          font-weight: 600;

          margin-bottom: 0;
        }

        margin-bottom: 1rem;
      }

      .author {
        margin-bottom: 0;
        font-size: 1.3rem;
      }
    }
  }

  .mobile-slider {
    .text-container {
      padding: 0 1rem;
      margin-bottom: 2rem;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icons {
          svg {
            background-color: #00b67a;

            width: 15px;
            height: 15px;
          }
        }
      }

      .text {
        p {
          font-weight: 600;
          font-size: 0.9rem;
          margin-bottom: 0.75rem;
        }

        margin-bottom: 1rem;
      }
    }
  }

  .text-container {
    border-left: 1px solid #1e5b71;
    border-right: 1px solid #1e5b71;
    background-color: transparent;
    color: #fff;

    .text {
      .inner-text {
      }
    }

    svg {
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: block;
      font-weight: 600;
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .slick-dots li.active button {
    background-color: #fff;
    border-radius: 50%;
  }

  .slick-dots li button:before {
    font-family: "slick";
    font-size: 5px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    content: "";
    text-align: center;
    opacity: 1;
    color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-dots li.slick-active button:before {
    background-color: #fff;
  }

  .slick-slide img {
    width: 400px;
  }

  .slick-prev:before {
    content: "\003C";
    font-weight: 600;
  }

  .slick-next:before {
    content: "\003E";
    font-weight: 600;
  }

  .slick-prev:before,
  .slick-next:before {
    opacity: 1 !important;
    font-size: 27px;
  }

  .slick-prev {
    left: 30px;

    @media screen and (min-width: 768px) {
      left: 0;
    }
  }

  .slick-next {
    right: 30px;

    @media screen and (min-width: 768px) {
      right: 0;
    }
  }

  .slick-prev,
  .slick-next {
    bottom: 0%;
    top: unset;
    z-index: 10;
    padding-top: 0.8rem;

    @media screen and (min-width: 768px) {
      top: 50%;
      bottom: 0;
    }
  }
}
