.mobile-modal-container.modal {
  .modal-dialog {
    margin: 0;
    position: relative;
    top: 30% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .modal-content {
    border: 15px solid #0f2835;
    border-radius: 0.3rem;

    .modal-header {
      border: none;
      padding: 0.75rem 0.75rem;
      padding-bottom: 0;

      .title {
        font-size: 1.778rem;
        line-height: 1.33;
      }
    }

    .close {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1;
      color: #0f2835;
      text-shadow: 0 1px 0 #fff;
    }

    .modal-body {
      padding-top: 0;

      p {
        margin-bottom: 0.5rem;
      }

      span {
        display: block;
        font-size: 0.89rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
